// colors
$red: #ba2222;
$grey: #828282;
$black: #000;
$white: #fff;

/* fontsizes */
$small-font-size: 14px;
$medium-font-size: 26px;
$default-font-size: 16px;

$default-font-family: 'Inter', sans-serif;
$thin-grey-border: 1px solid #e1e4e8;
$subtle-box-shadow: inset 0 1px 0 rgba(225, 228, 232, 0.2);
$small-border-radius: 6px;
