@import 'variables';
@import 'breakpoint';
@import 'base';
@import 'mixins';
@import 'typography';

.container {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}

header {
  @include flexspacebtw;
  height: 7.2rem;
  width: 100%;

  @include sm {
    flex-direction: column;
    margin-top: 30px;
  }

  .logo {
    display: flex;
    color: $grey;

    img {
      margin-right: 12px;
    }

    p {
      font-size: 14px;
      line-height: 18px;
      font-size: 14px;
      white-space: nowrap;
    }
  }

  input {
    width: 100%;
    height: 42px;
    max-width: 500px;
    text-indent: 20px;
    margin: 0 20px;
    display: none;
    border: 0.5px solid rgba(228, 228, 228, 0.6);

    @include md {
      display: unset;
    }
  }

  ul {
    display: flex;
    align-items: center;

    li {
      color: #4d4d4d;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;

      &:not(:last-of-type) {
        margin-right: 25px;
      }

      a {
        white-space: nowrap;
        color: #4d4d4d;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;

        &:hover {
          text-decoration: underline;
        }
      }

      &:last-of-type {
        white-space: nowrap;

        button {
          cursor: pointer;
          appearance: none;
          border: none;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background-color: #d8d8d8;
          color: #4d4d4d;
        }
      }
    }
  }
}

main {
  margin: 43px 0;

  form {
    display: flex;
    flex-direction: column;

    @include rwd(768) {
      flex-direction: row;
    }

    section {
      width: 100%;
      &:first-of-type {
        @include rwd(768) {
          margin-right: 8rem;
          flex-direction: row;
        }
      }

      &:last-of-type {
        @include rwd(768) {
          max-width: 450px;
          flex-direction: row;
        }
      }
    }
  }

  h1,
  h2 {
    font-size: 16px;
    font-weight: normal;
    line-height: 26px;
    padding: 20px;
    background-color: #fbfbfb;
    color: #0a0a0a;
    margin-bottom: 10px;
  }

  article {
    padding: 20px;
    background-color: #fbfbfb;
    margin-bottom: 10px;
  }

  fieldset {
    display: flex;
    flex-direction: column;
    appearance: none;
    border: none;
    margin-bottom: 20px;

    label {
      font-size: 15px;
      line-height: 20px;
      color: #151522;
      margin-bottom: 15px;

      span {
        color: red;
      }
    }

    input {
      height: 50px;
      text-indent: 20px;
      border: 0.5px solid rgba(228, 228, 228, 0.6);
      font-size: 14px;
      letter-spacing: 0.8px;
      color: #151522;

      &::-webkit-input-placeholder {
        color: $grey;
        font-size: 14px;
      }

      :-ms-input-placeholder {
        color: $grey;
      }

      ::placeholder {
        color: $grey;
        font-size: 14px;
      }
    }
  }

  .paymentMethods {
    button {
      appearance: none;
      background-color: transparent;
      border: none;
      cursor: pointer;
      margin-left: 20px;
    }
  }

  .cart {
    li {
      padding: 20px;
      background-color: #fbfbfb;
      margin-bottom: 20px;
      @include flexspacebtw;

      img {
        margin-right: 10px;
        max-width: 100px;
        width: 100%;
        height: auto;
        object-fit: contain;

        @include rwd(768) {
          max-width: 150px;
        }
      }

      & > div {
        h3 {
          color: $red;
          font-weight: bold;
          font-size: 16.5px;
          line-height: 1.5;
          margin-bottom: 5px;
          white-space: nowrap;
        }

        p {
          color: #0d0d0d;
          font-size: 16.5px;
          line-height: 1.5;
          font-weight: bold;
        }

        & > div {
          margin-top: 26px;
          display: flex;
          justify-content: space-between;
          flex-direction: column;

          p {
            color: $grey;
            font-weight: bold;
            font-size: 14px;
            line-height: 26px;

            &:last-of-type {
              position: relative;

              &:after {
                position: absolute;
                content: '';
                top: 50%;
                left: 50px;
                width: 15px;
                height: 15px;
                transform: translateY(-50%);
                background-color: #0d0d0d;
              }
            }
          }
        }
      }
    }

    article {
      .groupies {
        @include flexspacebtw;
        margin-right: 20px;

        &:first-of-type {
          margin-bottom: 20px;
        }

        p {
          font-weight: bold;
          font-size: 19.5px;
          line-height: 24px;

          &:first-of-type {
            color: #4f4f4f;
          }

          &:last-of-type {
            color: #0d0d0d;
          }
        }
      }
    }

    .submit-button {
      height: 66px;
      width: 100%;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: $white;
      background-color: $red;
      appearance: none;
      border: none;
      cursor: pointer;

      transition: transform 0.3s ease;

      &:hover,
      &:focus {
        transform: translateY(2px);
      }
    }
  }
}
